
nav{
    background-color: rgb(13, 13, 13);
    color: white;
    font-family: 'Poiret One', cursive;
    height: 30px;
    /* padding: 5px 0px; */
    border-bottom: rgb(166,72,5) solid 1px;
    box-shadow: rgb(166,72,5) 0px 0px 10px;
}

.salmon{
    margin-left: unset;
    margin-right: 15px;
    height: 25px;
    float: right;
}

.link{
    color: #ffffff;
    font-size: 12px;
    margin-left: 15px;
    /* padding-bottom: 30px; */
}

body{
    /* background-color:rgba(13, 13, 13, .5);  */
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#backgroundImage{
    width: 100%;
    overflow: hidden;
    z-index: 16;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    position: static;

}
