h1{
    background-color: salmon;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
}


#reportByLocation{
    border: black 2px solid;
    margin: 5px;
    display: inline-block;
}


table{
    margin: 20px;
    text-align: center;
}
tr{
    border: black 2px solid;
    width: 80%;
    margin: 10%;
}

tr{
    border: black 2px solid;
}

td{
    border: black 2px solid;
    width: fit-content;
}

th{
    border: black 2px solid;
    width: 60px;
    background-color: salmon;
}

#location{
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
    border-bottom: black 2px solid;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

li{
    border-bottom: gray 1px solid;   
    padding: 2px 15px 2px 15px;
    text-align: left;
}

