
/* rgb(217,208,193); - beige
rgb(217,171,115); - tanish
rgb(191,117,75); - tan/orangish
rgb(166,72,51); - dark salmon
rgb(13,13,13); - black */

html{
    /* color: gray; */
    background-color: rgba(217,208,193, .5);
    font-family: 'Poiret One', cursive;
    color: black;
    text-align: center;
}

header{
    background-color: rgba(191,117,75, 1);
    margin-bottom: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* FULL NAV BAR - BOTH LISTS & LOGO
------------------------------*/
nav{
    background-color: rgb(191,117,75);
    width: 100%;
    height: fit-content;
    display: inline-flex;
    padding: 0% 5%;
    box-shadow: 0 10px 20px rgba(217,208,193, .95);
    border: 1px solid   rgb(166,72,51);
}


/* PATS SALMON COOKIES LOGO 
------------------------------*/
#logoHeader{
    border: 3px double rgb(166,72,51);
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5px 5px;
    display: inline-flex;
    background-color: rgb(217,208,193);
    margin: 5px 5px;
}

    #logoHeader img{
        margin: 5px 20px;
    }

    #logoHeader h1{
        font-size: 36px;
        font-weight: bolder;
        color: rgb(166,72,51);
        padding: 15px;
    }

ul{
    /* border: 1px solid   rgb(166,72,51); */
    width: 20%;
    overflow: hidden;
    padding: 1% 1%;
    /* text-align: center; */
}

li{
    padding-bottom: 4%;
    /* padding-bottom: 10px;  */
} 

li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-top: 1%;
}

li a:hover{
    text-decoration: underline;
    color: blue;
    font-size: 24px;
}

#left_NavBar{
    text-align: left;
    
}

#right_NavBar{
    text-align: right;

}

/* main{
    position: relative;
    text-align: center;
    margin-top: 120px;
    height: 600px;
    padding-left: 5%;
    padding-right: 5%;
} */



/* #aboutPat_section{
    display: inline-flex;
    padding: 30px;
    margin-top: 20px;
    border: 1px black solid;
} */

/* #section1 #PatsDream{
    top: 15px;
} */
/* 
section img{
    border-top: black solid 1px;
    border-left: black solid 1px;
    border-right: black solid 3px;
    border-bottom: black solid 3px;
    box-shadow: black 5px 5px 15px;
    margin: 10px;
} */

/* #aboutPat_writeUp {
    display: inline-flex;
    padding-left: 30px;
    text-align: center;
} */


/* section img{
    height: 390px;
    width: 390px;
    margin-left: 10px;
    border: black 1px solid;
    box-shadow: 0px 2px 4px black;
} */

footer{
    background-color: rgb(166,72,51);
}